@charset "utf-8";
@import url("bootstrap.css");
@import url("styles.css");
* {
    box-sizing: border-box;
}

@media only screen and (min-width: 2140px) {
    body {
        font-size: 2rem;
    }
}

.container {
    grid-gap: 10px;
    width: 100%;
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-areas: "plant-info" "planet-view";
    grid-template-columns: 35vw 60vw;
    grid-template-rows: auto 30vh;
}

.container .plant-info {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 40px;
    grid-area: plant-info;
    overflow: auto;
}

.container .plant-info table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container .plant-info th, tr, td {
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .plant-info th {
    font-weight: normal;
}

.container .plant-info ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.container .planet-view {
    grid-area: planet-view;
    display: grid;
    grid-template-areas: "name" "planet";
    grid-auto-columns: 100%;
    grid-template-rows: 118px auto;
    overflow: hidden;
    margin-top: 20px;
}
.plant-detail .card {
    margin-top: 40px;
}
canvas #globe {
    width: 500px;
    height: 500px;
}
::selection {
    background: #0080FF;
    text-shadow: none;
}


.btn {
    height: 40px;
    margin: 0;
    margin-left: 10px;
    float: right;
    font-size: 1.5rem;
    line-height: 0;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}


.form-group {
    display: flex;
}

.name {
    grid-area: name;
}

fieldset {
    padding: 0;
}

form {
    margin-top: 20px;
}