@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto';
    text-shadow: 1px 1px 1px #49111C;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    font-size: 2rem;
    background-image: url("../img/brown_mud_dry_1k_jpg/brown_mud_dry_diff_1k.jpg");
    background-position-x: 0px;
}

.container {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-areas: "playerlist gamelist" "playerlist chat";
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 75vh 25vh;
}

h1 {
    margin: 0px;
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding: 2px;
    padding-left: 7px;
    background-color: #fff;
}

td {
    border: none !important;
    margin: none !important;
    border-spacing: 0 0;
}

td.busy {
    color: red;
}

td.online {
    color: green;
}

td.spectatable {
    color: orange;
}

td.open {
    color: green;
}

td.closed {
    color: red;
}

table tr:nth-child(2n+1) {
    background-color: rgba(255, 238, 170, 0.534);
    margin: 0px;
    padding: 0px;
}
table tr:nth-child(1) {
    background-color: rgba(230, 230, 230, 0.726);
    margin: 0px;
    padding: 0px;
}
table {
    border: none;
    padding: 0px;
}

.container .playerlist {
    padding: 10px;
    margin: 3px;
    grid-area: playerlist;
    background-color: #A9927D;
    overflow: auto;
    background-image: url("../img/brown_planks_05_1k_jpg/brown_planks_05_diff_1k.jpg");
    background-position-x: 0px;
}

.container .playerlist table {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}

.container .playerlist th, tr, td {
    padding: 5px;
}

.container .gamelist tr, td {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.container .gamelist table {
    width: 100%;
}

.container .gamelist th {
    font-weight: normal;
}

.container .playerlist th {
    font-weight: normal;
}

.container .playerlist ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.container .gamelist {
    padding: 10px;
    margin: 3px;
    grid-area: gamelist;
    background-color: #5E503F;
    background-image: url("../img/brown_planks_03_1k_jpg/brown_planks_03_diff_1k.jpg");
    background-position: cover;
}

.container .gamelist, .playerlist, .chat {
    box-shadow: inset 0 0 10px #000000;
    border: 1px solid black;
    overflow: auto;
}

.gamelist:hover, .playerlist:hover, .chat:hover {
    border: 1px solid green;
    box-shadow: inset 0 0 10px green;
}

.container .playerlist table {
    background-color: rgba(255, 255, 255, 0.7);
}

.container .gamelist table {
    background-color: rgba(215, 250, 250, 0.7);
}

.container .chat {
    grid-area: chat;
    display: grid;
    grid-template-areas: "chat-read" "chat-write";
    grid-auto-columns: 100%;
    overflow: hidden;
    grid-auto-rows: auto 40px;
    background-color: #5E503F;
    background-image: url("../img/brown_planks_03_1k_jpg/brown_planks_03_diff_1k.jpg");
}

.container .chat .chat-read p {
    margin: 0px;
}

.container .chat .chat-read {
    grid-area: chat-read;
    background-color: rgba(255, 255, 255, 0.356);
    overflow: auto;
    margin: 3px;
    padding: 10px;
}

.container .chat .chat-write {
    margin: 0px;
    padding: 0px;
    grid-area: chat-write;
    width: 100%;
    height: 100%;
}

.container .chat .chat-write input {
    box-shadow: inset 0 0 5px #000000;
    border: none;
    padding-left: 15px;
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
}