@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p {
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: lighter;
}

html,
body,
head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #e6e6e6;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px auto;
      grid-template-rows: 74px auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "nav" "container";
}

.container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 200px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
  nav {
    padding-left: 2%;
    padding-right: 2%;
  }
  .container,
  nav {
    width: calc(100% - 2%* 2);
  }
}

@media (min-width: 640px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container,
  nav {
    width: calc(100% - 5%* 2);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  nav {
    padding-left: 10%;
    padding-right: 10%;
  }
  .container,
  nav {
    width: calc(100% - 10%* 2);
  }
}

@media (min-width: 1920px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }
  nav {
    padding-left: 15%;
    padding-right: 15%;
  }
  .container,
  nav {
    width: calc(100% - 15%* 2);
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 50% 25% 25%;
        grid-template-columns: 50% 25% 25%;
        grid-template-areas: "plant-info planet-view planet-info";
    padding-top: 20px;
    width: calc;
  }
  .planet-name {
    font-weight: lighter;
  }
  #globe {
    width: 100%;
    height: auto;
  }
  .planet-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  .planet-info {
    margin-top: 21.4333px;
  }
  .plant-table {
    width: 100%;
  }
}

@media (min-width: 2560px) {
  .container {
    padding-left: 25%;
    padding-right: 25%;
  }
  nav {
    padding-left: 25%;
    padding-right: 25%;
  }
  .container,
  nav {
    width: calc(100% - 25%* 2);
  }
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav span.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: bold;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

nav .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  border: 1px solid #bbbbbb;
  margin-left: 10px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.plant-image {
  width: 200px;
  height: auto;
}

th {
  letter-spacing: 1px;
}

.plant-info {
  grid-area: plant-info;
}

.planet-view {
  grid-area: planet-view;
}

.planet-info {
  grid-area: planet-info;
}
/*# sourceMappingURL=styles.css.map */