$nav-padding: 10px;
// Basically all font weights open-sans offers
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans;
}
p {
    line-height: 150%;
}
html, body, head {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 100%;
    overflow: hidden;
    background-color: #e6e6e6;
}
// The order of media queries does matter! Please don't change.
@media (min-width: 1920px) {
    $side: 15%;
    .container {
        padding-left: $side;
        padding-right: $side;
    }
    nav {
        padding-left: $side;
        padding-right: $side;
    }
}
@media (min-width: 2560px) {
    $side: 25%;
    .container {
        padding-left: $side;
        padding-right: $side;
        width: 50%;
    }
    nav {
        padding-left: $side;
        padding-right: $side;
        width: 50%;
    }
}
nav {
    background-color: #dadada;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap; // a shorthand for two previous lines

    align-items: flex-end;

    padding-top: $nav-padding;
    padding-bottom: $nav-padding;
    & span.badge {
        display: flex;
        letter-spacing: 2px;
        padding: 10px 10px;
        font-weight: bold;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    & a {
        display: flex;
        text-decoration: none;
        color: black;
        padding: 15px 20px;
        border: 1px solid #bbbbbb;
        margin-left: 10px;
    }
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.plant-image {
    width:200px;
    height: auto;
}
th {
    letter-spacing: 1px;
}
td {
    
}